@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700italic,700);

* {
  font-family: 'Alegreya', serif;
}

section.sheet {
  display: grid;
  grid-template-columns: 33% 33% 33%;

  max-width: 210mm;
  max-height: 297mm;
}

vellum-sheet.custom {
  display: flex;
  flex-direction: column;
  margin: 0.25cm;
}

vellum-sheet.custom header {
  display: flex;
  align-items: flex-end;
}

vellum-sheet.custom header vellum-sheet-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  margin-left: 0.5em;
}

vellum-sheet.custom h3 {
  font-size: 1.5em;
  padding-bottom: 0.6em;
  margin-top: 0;
  margin-bottom: 0;
}
