vellum-sheet.custom {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 5em auto auto;
  grid-auto-flow: row;
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  padding: 1em;

  box-sizing:border-box;

  width: 750px;
  height: 1000px;
}

vellum-sheet.custom h2 {
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 0;
}

vellum-sheet.custom h3 {
  margin-top: 0;
  margin-bottom: 0;
}

vellum-sheet.custom p {
  margin-top: 0;
  margin-bottom: 0;
}

vellum-sheet.custom table {
  width: 100%;
}

vellum-sheet.custom table td.notes {
  width: 80%;
}
